@import '../css/base/variables.css';
@import '../css/base/fonts.css';
@import '../css/blocks/avatar.css';
@import '../css/blocks/btn.css';

.menu .menu__content {
  padding: 24px;
  background-color: var(--primary-bgc);
  display: flex;
  justify-content: flex-end;
}

.menu .menu__nav .menu__nav-list {
  display: flex;
}

.menu .menu__nav .menu__nav-item {
  border: 1px solid var(--secondary-bgc);
  margin: 0 24px 0 0;
}

.menu .menu__nav .menu__nav-item:nth-child(1) {
  width: 92px;
}

.menu .menu__nav .menu__nav-item:nth-child(2) {
  width: 82px;
}

.menu .menu__nav .menu__nav-item:nth-child(3) {
  width: 130px;
}

.menu .menu__nav .menu__nav-item:hover {
  background-color: var(--secondary-bgc-hover);
}

.menu .menu__nav .menu__nav-item:hover a {
  color: var(--primary-font);
}

.menu .menu__nav .menu__nav-item:active {
  background-color: var(--secondary-bgc);
}

.menu .menu__nav .menu__nav-item a {
  color: var(--secondary-font);
  text-decoration: none;
}

.menu .menu__user-btn {
  width: 88px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu .menu__user-btn:hover {
  border: 1px solid var(--secondary-bgc);
}

.menu .menu__user-btn:active {
  background-color: var(--secondary-bgc);
}

.menu .menu__user-btn:active svg{
  fill: var(--secondary-bgc-active);
}

.menu .menu__user-arrow {
  margin: 0 0 0 13px;
}

.menu .menu__user-arrow svg {
  fill: var(--secondary-bgc);
}