@import '../css/base/fonts.css';
@import '../css/base/variables.css';
@import '../css/blocks/btn.css';
@import '../css/blocks/absense-of-sth.css';

.absense-of-sth .absense-of-sth__text_mb {
    margin: 0 0 10px 0;
}

.absense-of-sth .absense-of-sth__btn:hover {
    background-color: var(--primary-bgc-hover);
}

.absense-of-sth .absense-of-sth__btn:active {
    background-color: var(--primary-bgc-active);
}